<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
    <h1>Calendar</h1>
  {% if session.username %}
  <p>
    You're logged in as {{ session.username }}, id is {{session.user_id}}
    <br><a href="/logout">Logout</a>
  </p>
  {%endif%}
  {% if not session.username %}
  <p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </p>
  {%endif%}
  {% if session.username %}
  <p>
    <a href="/new_entry">New event</a>
  </p>
  {%endif%}
  <p>
    <a href="/find_entry">Find event</a>
  </p>
  <p>
    <a href="/new_category">New category</a>
  </p>
  <h2>Events</h2>
  <ul>
    {% for entry in entries %}
    <li><a href="/entry/{{ entry.id }}">{{ entry.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
