<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Calendar</h1>
  {% if session.username %}
  <p>
    You're logged in as {{ session.username }}, id is {{session.user_id}}
    <br><a href="/logout">Logout</a>
  </p>
  {%endif%}
  {% if not session.username %}
  <p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </p>
  {%endif%}
  {% if session.username %}
  <p>
    <a href="/new_entry">New event</a>
  </p>
  <p>
    <a href="/find_entry">Find event</a>
  </p>
  <p>
    <a href="/new_category">New category</a>
  <p>
    <a href="/new_group">New group</a> <a href="/manage_groups">Manage groups</a>
  </p>
  {%endif%}
  <h1>Upcoming Events</h1>

  {% for group_name, entries in grouped_entries.items() %}
      <h2>{{ group_name }}</h2>
      <ul>
          {% for entry in entries %}
              <li>
                  <strong>{{ entry.title }}</strong> 
                  - {{ entry.date }} at {{ entry.time }}
  
                  {% if user_rsvp_status and entry.id in user_rsvp_status %}
                      (Your RSVP: {{ user_rsvp_status[entry.id] or "Not Responded" }})
                  {% endif %}
  
                  <a href="/entry/{{ entry.id }}">View Details</a>
              </li>
          {% endfor %}
      </ul>
  {% endfor %}
  
  
</body>

</html>
