<!DOCTYPE html>
<html>

<head>
  <title>Uusi tapahtuma</title>
</head>

<body>
    <h1>New event</h1>
  <form action="/create_entry" method="post">
    <p>
      Title *<br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
        Event description: *<br/>
        <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
        Date: *<br/>
        <input type="date" name="date" required/>
    </p>
    <p>
      Time: *<br/>
      <input type="time" name="time" required/>
    </p>
    <p>
        Duration: *<br/>
        <input type="text" name="duration" required/>
    </p>
    <p>
      Category: *<br/>
      <select name="category" required>
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </p>
    <label>Select Groups:</label>
    {% for group in groups %}
        <input type="checkbox" name="groups" value="{{ group.id }}"> {{ group.name }}<br>
    {% endfor %}
    
    <input type="submit" value="Luo tapahtuma" />
  </form>
</body>

</html>
