<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <form action="/create" method="post">
    <p>
      Username: * 3-20 characters<br />
      <input type="text" name="username" required />
    </p>
    <p>
      Password: * min 8 characters<br />
      <input type="password" name="password1" required />
    </p>
    <p>
      Enter password again: *<br />
      <input type="password" name="password2" required />
    </p>
    <input type="submit" value="Register" />
  </form>
</body>

</html>
