<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{entry.title}}</title>
</head>
<body>
    <header>
        <h1>Entry Details</h1>
    </header>
    {% if session.user_id == entry.user_id %}
    <p>
      <a href="/edit_entry/{{ entry.id }}">Edit Entry</a>
    </p>
    <p>
        <a href="/delete_entry/{{ entry.id }}">Delete Entry</a>
    </p>
    {%endif%}
    <main>
        <article>
            <h2>{{ entry.title }}</h2>
            <p><strong>Category:</strong> {{ entry.category_name }}</p>
            <p><strong>Date:</strong> {{ entry.date }}</p>
            <p><strong>Time:</strong> {{ entry.time }}</p>
            <p><strong>Duration:</strong> {{ entry.duration }}</p>
            <p><strong>Description:</strong> {{ entry.description }}</p>
            <p><strong>Creator:</strong> <a href="/user/{{entry.user_id}}"> {{ entry.username }}</a></p>
            <p><h3>Assigned Groups:</h3>
                <ul>
                    {% for group in entry_groups %}
                        <li>{{ group.name }}</li>
                    {% endfor %}
                </ul>
            </p>
        </article>
        <h2>RSVP to This Event</h2>
        <form action="/rsvp" method="post">
            <input type="hidden" name="entry_id" value="{{ entry.id }}">
            
            <button type="submit" name="status" value="attending"
                {% if user_rsvp == 'attending' %}disabled{% endif %}>Attending</button>

            <button type="submit" name="status" value="maybe"
                {% if user_rsvp == 'maybe' %}disabled{% endif %}>Maybe</button>

            <button type="submit" name="status" value="not attending"
                {% if user_rsvp == 'not attending' %}disabled{% endif %}>Not Attending</button>
        </form>
        <h2>RSVP Responses</h2>
        <ul>
            {% for rsvp in event_rsvps %}
                <li>{{ rsvp.username }} - {{ rsvp.status }}</li>
            {% endfor %}
        </ul>


        <a href="/">Back to Main Page</a>
    </main>
</body>

